# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

testworlds
.idea
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
libs/leveldb
src/main/resources/data
brv
EX_our_house
ourhouse_BE
ourhouse_special
ourhouse_structure
exported_structures.mcpack
ClientCorrelation2535458262223349.dat
dump
